@font-face {
    font-family: Orbitron;
    src: url(images/Orbitron-VariableFont_wght.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Orbitron, sans-serif;
    background-color: rgb(255, 248, 222);
}
.container {
    margin-top: 20px;
    width: 400px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border: 3px solid rgba(170, 170, 170, 0.658);
}



#predisplay {
    width: 350px;
    background-color: rgb(225, 225, 225);
    border: 2px solid rgba(196, 195, 195, 0.637);
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 30px;
    color: rgb(77, 77, 77);
    padding: 15px;
}

#displaybf {
    font-size: 16px;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px
}

.buttons, .nbuttons, .obuttons {
    width: 70px;
    height: 70px;
    background-color: rgb(255, 129, 175);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 3px 2px 2px pink;
}
.buttons:active, .nbuttons:active, .obuttons:active {
    box-shadow: 0px 2px 1px 1px pink;
    
}

#clear, #delete {
    width: 160px;
}

@media screen and (max-width: 750px) {
    .container {
        width: 20rem;
        height: 30rem;
    }

    #predisplay {
        width: 75vw;
    }

    #numbers {
        padding: 0rem;
    }
    .buttons, .nbuttons, .obuttons {
        width: 3.5rem;
        height: 3.5rem;
    }
    #clear, #delete {
        width: 8rem;
    }
    
}

